
@model IEnumerable<WebTraSua.Models.TheLoaiSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br /><br />
<div class="wrap">
    <div class="content-bottom">
            <img src="~/images/Logo_Webtrasua.png" width="400" height="400" />
            <img src="~/images/logo.png" width="400" height="400" />  
    </div>
</div>
