

@{
    ViewBag.Title = "Đăng Kí";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    .demo1 {
        -moz-transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
    }

        .demo1:hover {
            -webkit-transform: scale(1.15) rotate(0deg);
            position: relative;
        }
</style>
<table class="col_2_of_footer-top span_1_of_footer-top wrap" border="0">
    <h2 style="text-align:center; color:red;font-size:40px;font-weight:bold">Thông Tin Của Bạn </h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td style="color :#0094ff; font-size :20px"> Họ Tên Bạn: </td>
            <td>
                <input type="text" name="HoTenKH" required autocomplete="off" />
            </td>
        </tr>
            <tr style="height:40px">
                <td style="color :#0094ff; font-size :20px"> Tài Khoản: </td>
                <td>
                    <input type="text" name="TaiKhoan" required autocomplete="off" />
                </td>
            </tr>
            <tr style="height:40px">
                <td style="color :#0094ff; font-size :20px"> Mật Khẩu: </td>
                <td>
                    <input type="text" name="MatKhau" required autocomplete="off" />
                </td>
            </tr>
            <tr style="height:40px">
                <td style="color :#0094ff; font-size :20px"> Email: </td>
                <td>
                    <input type="email" name="Email" required autocomplete="off" />
                </td>
            </tr>
            <tr style="height:40px">
                <td style="color :#0094ff; font-size :20px"> Địa Chỉ: </td>
                <td>
                    <input type="text" name="DiaChi" title="Chúng tôi sẽ giao hàng ở đây!" required autocomplete="off" />
                </td>
            </tr>
            <tr style="height:40px">
                <td style="color :#0094ff; font-size :20px"> Điện Thoại: </td>
                <td>
                    <input type="tel" name="DienThoai" title="Chúng tôi sẽ liên hệ với bạn!" autocomplete="off" />
                </td>
            </tr>
            <tr style="height:70px">
                <td></td>
                <td align="left" ; class="demo1">
                    <a title="Đăng Kí Nha"><input type="submit" value="Đăng Kí" /></a>
                </td>
            </tr>
    }
</table>